<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-client_id" content="326787083880-9kaon2ap7gouod9ijiahg2sjbjtsima2.apps.googleusercontent.com">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '326787083880-9kaon2ap7gouod9ijiahg2sjbjtsima2.apps.googleusercontent.com'
      });
    });
  }
</script>
</head>
<body> 
<!-- GOOGLE PLUS SIGN IN-->         
          <div id="signinButton">
          <span class="g-signin2"
            data-scope="profile openid email"
            data-clientid="326787083880-9kaon2ap7gouod9ijiahg2sjbjtsima2.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
<div id="result"></div>
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/company";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
<!--END GOOGLE PLUS SIGN IN -->
  </body>
  </html>
